<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Login</title>
	<link rel="stylesheet" th:href="@{/asset/css/styleform.css}" />
</head>

<body>
	<div class="signup">
		<h2 class="signup-error" style="color:red" th:text="${messLog}"></h2>
		<h1 class="signup-heading">Login</h1>
		<form name='loginForm' th:action="@{/logon}" class="signup-form" method="POST">
			<label for="" class="signup-label">User Name</label>
			<input type="text" class="signup-input" name='username' placeholder="Enter your User Name">
			<label for="" class="signup-label">Password</label>
			<input type="password" class="signup-input" name='password' placeholder="Enter your Password">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<input class="signup-submit" name="submit" type="submit" value="Login" />
		</form>
	</div>
</body>

</html>