<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="user/layout/head :: head"></div>

<body>
	<!-- Header Start -->
	<div th:replace="user/layout/header :: header"></div>
	
	<!-- Breadcrumb Section Start -->
	<div class="breadcrumb" th:data-bg-image="@{/fe/images/bg/breadcrumb-bg.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumb_content" th:each="pro : ${product}">
						<h1 class="breadcrumb_title">Product Details</h1>
						<ul class="breadcrumb_list" >
			                <li><a style="font-size: 18px;" href="/">Home</a></li>
			                <li th:text="${pro.proName}" style="color: rgb(255, 185, 0); font-size: 18px;"></li>
			            </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Section End -->

	<!-- Single Product Section Start -->
	<div class="section section-margin-top section-padding-03" th:each="pro : ${product}">

		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-0 col-md-10 offset-md-1">
					<!-- Product Details Image Start -->

					<div class="product-details-img d-flex overflow-hidden flex-row">
						<!-- Single Product Image Start -->
						<div class="single-product-vertical-tab swiper-container order-2">
							<div class="swiper-wrapper popup-gallery" id="popup-gallery">
								<a class="swiper-slide h-auto" th:href="@{'/uploads/'+${pro.image}}">
									<img class="w-100" th:src="@{'/uploads/'+${pro.image}}" alt="Product" />
								</a>
							</div>

							<!-- Swiper Pagination Start -->
							<!-- <div class="swiper-pagination d-none"></div> -->
							<!-- Swiper Pagination End -->

							<!-- Next Previous Button Start -->
							<div class="swiper-button-vertical-next swiper-button-next">
								<i class="lastudioicon-arrow-right"></i>
							</div>
							<div class="swiper-button-vertical-prev swiper-button-prev">
								<i class="lastudioicon-arrow-left"></i>
							</div>
							<!-- Next Previous Button End -->
						</div>
						<!-- Single Product Image End -->

						<!-- Single Product Thumb Start -->
						<div class="product-thumb-vertical overflow-hidden swiper-container order-1">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img th:src="@{'/uploads/'+${pro.image}}" alt="Product" />
								</div>
							</div>

							<!-- Swiper Pagination Start -->
							<!-- <div class="swiper-pagination d-none"></div> -->
							<!-- Swiper Pagination End -->

							<!-- Next Previous Button Start -->
							<!-- 
                                <div class="swiper-button-vertical-next  swiper-button-next"><i class="lastudioicon-right-arrow"></i></div>
                                <div class="swiper-button-vertical-prev swiper-button-prev"><i class="lastudioicon-left-arrow"></i></div> 
                            -->
							<!-- Next Previous Button End -->
						</div>
						<!-- Single Product Thumb End -->
					</div>
					<!-- Product Details Image End -->
				</div>
				<div class="col-lg-6">
					<!-- Product Summery Start -->
					<div class="product-summery position-relative">
						<!-- Product Head Start -->
						<div class="product-head mb-3">
							<!-- Price Start -->
							<div th:if="${pro.salePrice}">
								<i><strike class="product-item__price" th:text="${'$'+pro.price}"></strike></i>
								<span style="font-weight: 900" class="product-item__price"
									th:text="${'$'+pro.salePrice}"></span>
							</div>
							<div th:if="${pro.salePrice == 0}">
								<b><i><span style="font-weight: 900" class="product-item__price"
											th:text="${'$'+pro.price}"></span></i></b>
							</div>
							<!-- Price End -->

							<!-- Rating Start -->
							<div class="review-rating">
								<span class="review-rating-bg">
									<span class="review-rating-active" style="width: 90%"></span>
								</span>
								<a href="#/" class="review-rating-text">(1 Review)</a>
							</div>
							<!-- Rating End -->
						</div>
						<!-- Product Head End -->

						<!-- Description Start -->
						<p class="desc-content" th:utext="${pro.description}"></p>
						<br />
						<!-- Description End -->

						<!-- Product Quantity, Cart Button, Wishlist and Compare Start -->
						<form th:action="@{/cart}" method="post" onsubmit="return true">
							<input type="hidden" name="proId" th:value="*{pro.id}"/>
							<ul class="product-cta">
								<li>
									<!-- Quantity Start -->
									<div class="quantity">
										<div class="cart-plus-minus">
											<input type="hidden" name="quantity">
										</div>
									</div>
									<!-- Quantity End -->
								</li>
								<li>
									<!-- Cart Button Start -->
									<div class="cart-btn">
										<div class="add-to_cart">
												<button class="btn btn-dark btn-hover-primary" type="submit">Add to Cart</input>
										</div>
									</div>
									<!-- Cart Button End -->
								</li>
								<li>
									<!-- Action Button Start -->
									<div class="actions">
										<a href="#/" title="Wishlist" class="action compare" data-bs-toggle="modal"
											data-bs-target="#modalWishlist"><i class="lastudioicon-heart-2"></i></a>
										<a href="#/" title="Compare" class="action wishlist" data-bs-toggle="modal"
											data-bs-target="#modalCompare"><i
												class="lastudioicon-ic_compare_arrows_24px"></i></a>
									</div>
									<!-- Action Button End -->
								</li>
							</ul>
						</form>
						<!-- Product Quantity, Cart Button, Wishlist and Compare End -->

						<!-- Product Meta Start -->
						<ul class="product-meta">
							<li class="product-meta-wrapper">
								<span class="product-meta-name">SKU:</span>
								<span class="product-meta-detail">REF. LA-199</span>
							</li>
							<li class="product-meta-wrapper">
								<span class="product-meta-name">Category:</span>
								<span class="product-meta-detail">
									<a th:href="@{/list-product/{id}(id=${pro.id})}"
										th:text="${pro.category.cateName}"></a>
									<a href="#">, New</a>
								</span>
							</li>
							<li class="product-meta-wrapper">
								<span class="product-meta-name">Tags:</span>
								<span class="product-meta-detail">
									<a href="#" th:text="${pro.proName}"></a>
								</span>
							</li>
						</ul>
						<!-- Product Meta End -->

						<!-- Product Shear Start -->
						<div class="product-share">
							<a href="#"><i class="lastudioicon-b-facebook"></i></a>
							<a href="#"><i class="lastudioicon-b-twitter"></i></a>
							<a href="#"><i class="lastudioicon-b-pinterest"></i></a>
							<a href="#"><i class="lastudioicon-b-instagram"></i></a>
						</div>
						<!-- Product Shear End -->
					</div>
					<!-- Product Summery End -->
				</div>
			</div>

			<div class="row section-margin">
				<!-- Single Product Tab Start -->
				<div class="col-lg-12 single-product-tab">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#connect-1" role="tab"
								aria-selected="true">Description</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="review-tab" data-bs-toggle="tab" href="#connect-4" role="tab"
								aria-selected="false">Additional information</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#connect-2" role="tab"
								aria-selected="false">Reviews (1)</a>
						</li>
					</ul>
					<div class="tab-content mb-text" id="myTabContent">
						<div class="tab-pane fade show active" id="connect-1" role="tabpanel"
							aria-labelledby="home-tab">
							<div class="product-desc-row">
								<div class="product-desc-img">
									<img th:src="@{'/uploads/'+${pro.image}}" width="600px" alt="Image" />
								</div>
								<div class="product-desc-content">
									<h5 class="product-desc-title">We Love Cake</h5>
									<p class="product-desc-text">
										Aliquam pulvinar vestibulum blandit. Donec sed nisl
										libero. Fusce dignissim luctus sem eu dapibus.
										Pellentesque vulputate quam a quam volutpat, sed
										ullamcorper erat commodo. Vestibulum sit amet ipsum vitae
										mauris mattis vulputate lacinia nec neque. Aenean quis
										consectetur nisi, ac interdum elit
									</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="connect-4" role="tabpanel" aria-labelledby="review-tab">
							<div class="size-tab table-responsive-lg">
								<table class="table border mb-0">
									<tbody>
										<tr>
											<td class="cun-name"><span>Color</span></td>
											<td>Blue, Gray, Green, Red, Yellow</td>
										</tr>
										<tr>
											<td class="cun-name"><span>Size</span></td>
											<td>Large, Medium, Small</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="connect-2" role="tabpanel" aria-labelledby="profile-tab">
							<!-- Start Single Content -->
							<div class="review">
								<!-- Review Top Start -->
								<div class="review-top d-flex mb-4 align-items-center">
									<!-- Review Thumb Start -->
									<div class="review_thumb">
										<img alt="review images" th:src="@{/fe/images/avatar/testimoial-1.png}" />
									</div>
									<!-- Review Thumb End -->

									<!-- Review Details Start -->
									<div class="review_details ms-3">
										<!-- Rating Start -->
										<div class="review-rating mb-2">
											<span class="review-rating-bg">
												<span class="review-rating-active" style="width: 90%"></span>
											</span>
										</div>
										<!-- Rating End -->
										<!-- Review Title & Date Start -->
										<div class="review-title-date d-flex">
											<h5 class="title me-1">Admin -</h5>
											<span>January 19, 2021</span>
										</div>
										<!-- Review Title & Date End -->
										<p>
											Aliqua id fugiat nostrud irure ex duis ea quis id quis
											ad et.
										</p>
									</div>
									<!-- Review Details End -->
								</div>
								<!-- Review Top End -->

								<!-- Comments ans Replay Start -->
								<div class="comments-area comments-reply-area">
									<div class="row">
										<div class="col-lg-12 col-custom">
											<h5 class="title mb-2">Add a review</h5>
											<p class="comments-area_text">
												Your email address will not be published. Required
												fields are marked *
											</p>
											<!-- Comment form Start -->
											<form action="#" class="comments-area_form">
												<div class="row">
													<!-- Input Name Start -->
													<div class="col-md-6 mb-3">
														<label>Name <span class="required">*</span></label>
														<input class="comments-area_input" type="text"
															required="required" name="Name" />
													</div>
													<!-- Input Name End -->

													<!-- Input Email Start -->
													<div class="col-md-6 mb-3">
														<label>Email <span class="required">*</span></label>
														<input class="comments-area_input" type="text"
															required="required" name="email" />
													</div>
													<!-- Input Email End -->
												</div>
												<!-- Comment Texarea Start -->
												<div class="mb-3">
													<label>Comment</label>
													<textarea class="comments-area_textarea"
														required="required"></textarea>
												</div>
												<!-- Comment Texarea End -->

												<!-- Comment Submit Button Start -->
												<div class="comment-form-submit">
													<button class="btn btn-dark btn-hover-primary">
														Submit
													</button>
												</div>
												<!-- Comment Submit Button End -->
											</form>
											<!-- Comment form End -->
										</div>
									</div>
								</div>
								<!-- Comments ans Replay End -->
							</div>
							<!-- End Single Content -->
						</div>
					</div>
				</div>
				<!-- Single Product Tab End -->
			</div>
		</div>
	</div>
	<!-- Single Product Section End -->

	<!-- Product Section Strat -->
	<div class="section-padding-03 pt-0">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Section Title Strat -->
					<div class="section-title">
						<h2 class="section-title__title">Related Product</h2>
					</div>
					<!-- Section Title End -->
				</div>
			</div>
			<!-- Product Active Strat -->
			<div class="product-active">
				<div class="swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" th:each="listProByCate : ${listProByCateId}">
							<!-- Product Item Start -->
							<div class="product-item text-center">
								<div class="product-item__badge"
									th:if="${((listProByCate.price)/2)>=listProByCate.salePrice and listProByCate.salePrice != 0}">
									Big Sale 50%</div>
								<div class="product-item__image border w-100">
									<a th:href="@{/detail/{id}(id=${listProByCate.id})}"><img class="imgfix"
											th:src="@{'/uploads/'+${listProByCate.image}}" alt="Product" /></a>
									<ul class="product-item__meta">
										<li class="product-item__meta-action">
											<a class="shadow-1 labtn-icon-cart" href="#" data-bs-tooltip="tooltip"
												data-bs-placement="top" title="Add to Cart" data-bs-toggle="modal"
												data-bs-target="#modalCart"></a>
										</li>
										<li class="product-item__meta-action">
											<a class="shadow-1 labtn-icon-wishlist" href="#" data-bs-tooltip="tooltip"
												data-bs-placement="top" title="Add to wishlist" data-bs-toggle="modal"
												data-bs-target="#modalWishlist"></a>
										</li>
										<li class="product-item__meta-action">
											<a class="shadow-1 labtn-icon-compare" href="#" data-bs-tooltip="tooltip"
												data-bs-placement="top" title="Add to compare" data-bs-toggle="modal"
												data-bs-target="#modalCompare"></a>
										</li>
									</ul>
								</div>
								<div class="product-item__content pt-5">
									<h5 class="product-item__title">
										<a href="single-product.html" th:text=${listProByCate.proName}></a>
									</h5>
									<div th:if="${listProByCate.salePrice}">
										<i><strike class="product-item__price"
												th:text="${'$'+listProByCate.price}"></strike></i>
										<span class="product-item__price"
											th:text="${'$'+listProByCate.salePrice}"></span>
									</div>
									<div th:if="${listProByCate.salePrice == 0}">
										<b><i><span class="product-item__price"
													th:text="${'$'+listProByCate.price}"></span></i></b>
									</div>
								</div>
							</div>
							<!-- Product Item End -->
						</div>
					</div>
					<div class="swiper-button-next">
						<i class="lastudioicon-arrow-right"></i>
					</div>
					<div class="swiper-button-prev">
						<i class="lastudioicon-arrow-left"></i>
					</div>
				</div>
			</div>
			<!-- Product Active End -->
		</div>
	</div>
	<!-- Product Section End -->

	<!-- Scroll Top Start -->
	<a href="#/" class="scroll-top" id="scroll-top">
		<i class="lastudioicon-up-arrow"></i>
	</a>
	<!-- Scroll Top End -->

	<div th:replace="user/layout/footer :: footer"></div>

	<!-- JS Vendor, Plugins & Activation Script Files -->

	<!-- Vendors JS -->
	<div th:replace="user/layout/js :: js"></div>
</body>

<!-- Mirrored from htmldemo.net/bakerfresh/bakerfresh/single-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Sep 2023 11:05:09 GMT -->

</html>