<div th:fragment="header">
	<div class="header-section header-transparent header-sticky" >
		<div class="container position-relative">
			<div class="row align-items-center">
				<div class="col-lg-3 col-xl-3 col-7">
					<!-- Header Logo Start -->
					<div>
						<a href="/">
							<img class="white-logo" th:src="@{/fe/images/logo.svg}" width="229" height="62"
								alt="Logo" />
						</a>
					</div>
					<!-- Header Logo End -->
				</div>
				<div class="col-lg-7 col-xl-6 d-none d-lg-block">
					<!-- Header Menu Start -->
					<div class="header-menu">
						<ul class="header-primary-menu d-flex justify-content-center">
							<li>
								<a href="/" class="menu-item-link active"><span>Home</span></a>
							</li>
							<li>
								<a class="menu-item-link" th:href="@{/list/product}"><span>Shop Now</span></a>
								<ul class="sub-menu">
									<li th:each="cate : ${allCategoryTrue}">
										<a class="sub-item-link" th:href="@{/list/product/{id}(id=${cate.id})}" th:text="${cate.cateName}"></a>
									</li>
								</ul>
							</li>
							<li>
								<a class="menu-item-link" href="#"><span>Pages</span></a>
								<ul class="sub-menu">
									<li>
										<a class="sub-item-link" href="about.html"><span>About</span></a>
									</li>
									<li>
										<a class="sub-item-link" href="contact.html"><span>Contact</span></a>
									</li>
									<li>
										<a class="sub-item-link" href="contact-2.html"><span>Contact 2</span></a>
									</li>
									<li>
										<a class="sub-item-link" href="our-chef.html"><span>Our Chef</span></a>
									</li>
									<li>
										<a class="sub-item-link" href="faq.html"><span>FAQs</span></a>
									</li>
									<li>
										<a class="sub-item-link" href="pricing.html"><span>Pricing Plans</span></a>
									</li>
									<li>
										<a class="sub-item-link" href="404.html"><span>404 Not Found</span></a>
									</li>
									<li>
										<a class="sub-item-link" href="coming-soon.html"><span>Coming Soon</span></a>
									</li>
								</ul>
							</li>
							<li>
								<a class="menu-item-link" href="#"><span>Blog</span></a>
							</li>
							<li>
								<a class="menu-item-link" href="contact.html"><span>Contact</span></a>
							</li>
						</ul>
					</div>
					<!-- Header Menu End -->
				</div>
				<div class="col-lg-2 col-xl-3 col-5">
					<!-- Header Meta Start -->
					<div class="header-meta">
						<ul class="header-meta__action header-meta__action-02 d-flex justify-content-end">
							<li class="d-block d-sm-none">
								<button class="action search-open">
									<i class="lastudioicon-zoom-1"></i>
								</button>
							</li>
							<li>
								<a class="action" th:href="@{/cart}" style="color: white;">
									<i class="lastudioicon-shopping-cart-2"></i>
								</a>
							</li>
							<li>
								<a style="color: white;" class="action" th:href="@{/account}"><i class="lastudioicon-single-01-2"></i></a>
							</li>
						</ul>
					</div>
					<!-- Header Meta End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Header End -->

	<!-- Search Start  -->
	<div
		class="search-popup position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center p-6 bg-black bg-opacity-75">
		<div class="search-popup__form position-relative">
			<form action="#">
				<input class="search-popup__field border-0 border-bottom bg-transparent text-white w-100 tra py-3"
					type="text" placeholder="Search…" />
				<button
					class="search-popup__icon text-white border-0 bg-transparent position-absolute top-50 end-0 translate-middle-y">
					<i class="lastudioicon-zoom-1"></i>
				</button>
			</form>
		</div>
		<button class="search-popup__close position-absolute top-0 end-0 m-8 p-3 lh-1 border-0 text-white fs-4">
			<i class="lastudioicon-e-remove"></i>
		</button>
	</div>
	<!-- Search End -->

	<!-- Offcanvas Cart Start  -->
	<div class="offcanvas offcanvas-end offcanvas-cart" id="offcanvasCart">
		<div class="offcanvas-header">
			<h4 class="offcanvas-title">My Cart</h4>
			<button type="button" class="btn-close text-secondary" data-bs-dismiss="offcanvas">
				<i class="lastudioicon lastudioicon-e-remove"></i>
			</button>
		</div>

		<div class="offcanvas-body">
			<!-- Offcanvas Cart Items Start  -->
			<ul class="offcanvas-cart-items">
				<li>
					<!-- Mini Cart Item Start  -->
					<div class="mini-cart-item">
						<a href="#/" class="mini-cart-item__remove"><i
								class="lastudioicon lastudioicon-e-remove"></i></a>
						<div class="mini-cart-item__thumbnail">
							<a href="single-product.html"><img width="70" height="88"
									th:src="@{/fe/images/mini-cart/cart-1.png}" alt="Cart" /></a>
						</div>
						<div class="mini-cart-item__content">
							<h6 class="mini-cart-item__title">
								<a href="single-product.html">Macaron Cake</a>
							</h6>
							<span class="mini-cart-item__quantity">1 × $4.99</span>
						</div>
					</div>
					<!-- Mini Cart Item End  -->
				</li>
				<li>
					<!-- Mini Cart Item Start  -->
					<div class="mini-cart-item">
						<a href="#/" class="mini-cart-item__remove"><i
								class="lastudioicon lastudioicon-e-remove"></i></a>
						<div class="mini-cart-item__thumbnail">
							<a href="single-product.html"><img width="70" height="88"
									th:src="@{/fe/images/mini-cart/cart-2.png}" alt="Cart" /></a>
						</div>
						<div class="mini-cart-item__content">
							<h6 class="mini-cart-item__title">
								<a href="single-product.html">Cream Muffin</a>
							</h6>
							<span class="mini-cart-item__quantity">1 × $4.99</span>
						</div>
					</div>
					<!-- Mini Cart Item End  -->
				</li>
				<li>
					<!-- Mini Cart Item Start  -->
					<div class="mini-cart-item">
						<a href="#/" class="mini-cart-item__remove"><i
								class="lastudioicon lastudioicon-e-remove"></i></a>
						<div class="mini-cart-item__thumbnail">
							<a href="single-product.html"><img width="70" height="88"
									th:src="@{/fe/images/mini-cart/cart-3.png}" alt="Cart" /></a>
						</div>
						<div class="mini-cart-item__content">
							<h6 class="mini-cart-item__title">
								<a href="single-product.html">Brownie</a>
							</h6>
							<span class="mini-cart-item__quantity">1 × $4.99</span>
						</div>
					</div>
					<!-- Mini Cart Item End  -->
				</li>
				<li>
					<!-- Mini Cart Item Start  -->
					<div class="mini-cart-item">
						<a href="#/" class="mini-cart-item__remove"><i
								class="lastudioicon lastudioicon-e-remove"></i></a>
						<div class="mini-cart-item__thumbnail">
							<a href="single-product.html"><img width="70" height="88"
									th:src="@{/fe/images/mini-cart/cart-4.png}" alt="Cart" /></a>
						</div>
						<div class="mini-cart-item__content">
							<h6 class="mini-cart-item__title">
								<a href="single-product.html">Chocolate Muffin</a>
							</h6>
							<span class="mini-cart-item__quantity">1 × $4.99</span>
						</div>
					</div>
					<!-- Mini Cart Item End  -->
				</li>
				<li>
					<!-- Mini Cart Item Start  -->
					<div class="mini-cart-item">
						<a href="#/" class="mini-cart-item__remove"><i
								class="lastudioicon lastudioicon-e-remove"></i></a>
						<div class="mini-cart-item__thumbnail">
							<a href="single-product.html"><img width="70" height="88"
									th:src="@{/fe/images/mini-cart/cart-5.png}" alt="Cart" /></a>
						</div>
						<div class="mini-cart-item__content">
							<h6 class="mini-cart-item__title">
								<a href="single-product.html">No-bake chocolate</a>
							</h6>
							<span class="mini-cart-item__quantity">1 × $4.99</span>
						</div>
					</div>
					<!-- Mini Cart Item End  -->
				</li>
			</ul>
			<!-- Offcanvas Cart Items End  -->
		</div>

		<div class="offcanvas-footer d-flex flex-column gap-4">
			<!-- Mini Cart Total End  -->
			<div class="mini-cart-totla">
				<span class="label">Subtotal:</span>
				<span class="value">$24.95</span>
			</div>
			<!-- Mini Cart Total End  -->

			<!-- Mini Cart Button End  -->
			<div class="mini-cart-btn d-flex flex-column gap-2">
				<a class="d-block btn btn-secondary btn-hover-primary" href="#">View cart</a>
				<a class="d-block btn btn-secondary btn-hover-primary" href="#">Checkout</a>
			</div>
			<!-- Mini Cart Button End  -->
		</div>
	</div>
	<!-- Offcanvas Cart End -->

	
</div>