<div th:fragment="js">
	<script th:src="@{/fe/js/vendor/modernizr-3.11.7.min.js}"></script>
	<script th:src="@{/fe/js/vendor/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/fe/js/vendor/jquery-migrate-3.3.2.min.js}"></script>
	<script th:src="@{/fe/js/vendor/bootstrap.bundle.min.js}"></script>

	<!-- Plugins JS -->
	<script th:src="@{/fe/js/swiper-bundle.min.js}"></script>
	<script th:src="@{/fe/js/countdown.min.js}"></script>
	<script th:src="@{/fe/js/ion.rangeSlider.min.js}"></script>
	<script th:src="@{/fe/js/lightgallery.min.js}"></script>
	<script th:src="@{/fe/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/fe/js/ajax.js}"></script>
	<script th:src="@{/fe/js/jquery.validate.min.js}"></script>

	<!-- Activation JS -->
	<script th:src="@{/fe/js/main.js}"></script>
</div>
