<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/layout/head :: head"></div>

<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">
		<div th:replace="admin/layout/header :: header"></div>

		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<div th:replace="admin/layout/sidebar :: sidebar"></div>

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					<a class="btn btn-success" th:href="@{/admin/product}" role="button">Back</a>
				</h1>
				<ol class="breadcrumb">
					<li>
						<a th:href="@{/admin/category}"><i class="fa fa-dashboard"></i> Home</a>
					</li>
					<li><a href="#">Examples</a></li>
					<li class="active">Blank page</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Chỉnh sửa Sản Phẩm</h3>
					</div>

					<form role="form" method="POST" th:action="@{/admin/edit-product}" th:object="${product}"
						enctype="multipart/form-data">
						<input type="hidden" class="form-control" th:field="*{id}" />
						<input th:field="*{image}" type="hidden" />
						<div class="box-body">
							<div class="form-group">
								<label for="">Tên Sản Phẩm: </label>
								<input type="text" class="form-control" th:field="*{proName}" />
							</div>
							<div class="form-group">
								<label for="">Giá Bán: </label>
								<input type="number" class="form-control" th:field="*{price}" />
							</div>
							<div class="form-group">
								<label for="">Giảm Giá: </label>
								<input type="number" class="form-control" th:field="*{salePrice}" />
							</div>
							<div class="form-group">
								<label for="">Ảnh: </label>
								<input type="file" class="form-control" name="fileImage" />
								<img th:src="@{'/uploads/'+${product.image}}" width="100px" alt="User Image" />
							</div>
							<div class="form-group">
								<label for="">Ngày đăng: </label>
								<input type="datetime-local" class="form-control" th:field="*{publish}" />
							</div>
							<div class="form-group">
								<label>Danh Mục</label>
								<select class="form-control" th:field="*{category.id}">
									<option th:each="category : ${listCate}" th:value="${category.id}"
										th:text="${category.cateName}"></option>
								</select>
							</div>
							<div class="form-group" >
								<textarea name="editor" id="editor"  th:field="*{description}">
								</textarea>
							</div>
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Lưu</button>
						</div>
					</form>
				</div>
			</section>
			<!-- /.content -->
		</div>

		<div th:replace="admin/layout/footer :: footer"></div>
	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<script>
	    CKEDITOR.replace( 'editor' );
	</script>
	<div th:replace="admin/layout/js :: js"></div>
</body>

</html>